@import "config";
@import "menu";
@import "accordion";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 3rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;

  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
  }
}

.contact-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3"
    "job4 job5 job6";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job-4 {
    grid-area: job4;
  }

  .job-5 {
    grid-area: job5;
  }

  .job-6 {
    grid-area: job6;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  // grid-template-columns: repeat(4, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;
    object-fit: cover;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.MuiCardMedia-img {
  object-fit: cover !important;
}
.about-container {
  .about-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .about-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    .about-item {
      background: lighten($primary-color, 5);
      width: 30%;
      height: auto;
      padding: 1rem;
      margin-right: 1rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}

.contact-container {
  .contact-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .contact-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    .contact-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background: lighten($primary-color, 5);
      width: 75%;
      height: auto;
      padding: 1rem;
      margin-right: 1rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}

.project-container {
  .project-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .project-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;

    .project-item {
      background: lighten($primary-color, 5);
      width: 45%;
      height: auto;
      margin-top: 1rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  .portrait {
    width: 500px;
    height: 500px;
    background-image: url("../img/Ferran Aug 2021.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 45px;
  }
  .welcome {
    // flex: 1, 0, 60%;
    font-size: 1.5rem;
    padding-left: 20px;
  }

  p {
    width: 100%;
  }
}

.faq-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.faq {
  border: 1px solid #9fa4a8;
  border-radius: 5px;
  margin: 10px 0;
  // padding: 7px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  width: 30%;
  height: auto;
}

.faq-title {
  font-size: 1.7rem;
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.cards {
  height: 65vh;
  overflow: hidden;
  margin: 0;
}

.cards-container {
  display: flex;
}

.cards-panel {
  background: no-repeat center center/cover;
  height: 60vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.3;
  margin: 10px;
  position: relative;
  transition: flex 0.4s ease-in-out;
}
.cards-panel h3 {
  position: absolute;
  background-color: black;
  border-radius: 05px;
  padding: 5px 15px;
  justify-content: center;
  bottom: 30px;
  writing-mode: vertical-rl;
}
.cards-panel.active {
  flex: 5;
}

.cards-panel.active h3 {
  opacity: 1;
  writing-mode: horizontal-tb;
}

@media (max-width: 600px) {
  .hidden {
    display: none;
  }
  .cards {
    height: 100%;
    margin: 0;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .cards-panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100vw;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.2 0 50px;
    margin: 7px;
    position: relative;
    transition: flex 0.4s ease-in-out;
  }
  .cards-panel h3 {
    position: absolute;
    background: none;
    color: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    writing-mode: horizontal-tb;
  }
  .cards-panel.active {
    flex: 5;
  }
  .cards-panel.active h3 {
    color: white;
    position: absolute;
    font-weight: bolder;
    top: 5px;
    left: 60%;
  }

  .faq-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .faq {
    border: 1px solid #9fa4a8;
    border-radius: 5px;
    margin: 10px 0;

    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    width: 100%;
    height: auto;
  }

  .faq-title {
    font-size: 1.7rem;
    margin: 0 35px 0 0;
  }

  .faq-text {
    display: none;
    margin: 30px 0 0;
    color: black;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  
.project-container {
  .project-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .project-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;

    .project-item {
      background: lighten($primary-color, 5);
      width: 90%;
      height: auto;
      margin-top: 1rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  .portrait {
    width: auto;
    height: 500px;
    background-image: url("../img/Ferran Aug 2021.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px ;
  }
  .welcome {
    // flex: 1, 0, 60%;
    font-size: 1.5rem;
    padding-left: 20px;
  }

  p {
    width: 100%;
  }
}

}

@media (min-width: 500) {
  .hidden {
    display: none;
  }
}
@media (max-width: 500) {
  .hidden {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }

  main #home h1 {
    margin-top: 10vh;
  }

  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .welcome {
    width: 100%;
  }
}

/* 
^ Styling the drop-down menu for language switcher
* Auther : Fadi Nouh
* URL : https://bluebit.dev
* Repository: https://github.com/bluebits-academy/language-switcher
*/

nav {
  background-color: $primary-light;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // overflow: visible;
  // position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
}

.logo {
  width: 50px;
}

.logo img {
  width: 45px;
}

.lang-menu {
  width: 100px;
  text-align: right;
  // font-weight: bold;
  margin-top: 25px;
  position: relative;
}

.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: $primary-color;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid $secondary-color;
  border-radius: 5px solid $secondary-color;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: $secondary-color;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $primary-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  // text-align: right;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $primary-light;
}

.MuiCard-root {
  background-color: $primary-light !important;
  color: $secondary-light !important;
  // margin-bottom: 1rem;
}

.MuiCardHeader-subheader {
  color: $secondary-dark !important;
}

.MuiCardMedia-root {
  width: 60%;
  align-items: center;
  justify-content: center;
}

.MuiButtonBase-root {
  color: $secondary-dark !important;
}

.timeline-card-content {
  background-color: $secondary-color !important;

  header {
    background-color: $secondary-light;
    border-radius: 3px;
  }
  a {
    color: $primary-color;
  }
  .card-sub-title {
    background-color: $secondary-color;
    color: $primary-color;
    margin-top: 2rem;
    border-radius: 7px;
    width: 100%;
  }
}
.card-content-wrapper {
  section {
    min-width: 100px !important;
  }
}
.css-16u30nb-TimelineControlContainer {
  align-items: center;
  position: fixed;
  right: 90px;
  top: 50px;
  display: flex;
  justify-content: center;
  min-width: 3rem;
  margin-bottom: 1rem;

  filter: opacity(0.9);
}

.css-1t1h6li-TimelineItemContentWrapper {
  align-items: center;
  background: $secondary-color;
  border-radius: 4px;
  display: flex;
  margin-bottom: 1rem;
  // flex-direction: row;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5em;
  // max-width: px;
  min-height: 100px !important;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 0;
}
@import "mobile";
