@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #131c26;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #1c2837;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/Ferran_guaperas.jfif") center center/cover;
  border-radius: 50%;
  border: solid 3px #fcc62d;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #fcc62d;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #fcc62d;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 25%;
  color: black;
}

/* Style the submit button */
button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.accordion-grid {
  display: flex;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.accordion-grid .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #fcc62d 3px solid;
}

.faq-toggle {
  background: #1c2837;
  color: #ffe293;
}

.faq.active {
  background-color: #1c2837;
  color: #fcc62d;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-chevron-up {
  display: none;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle .fa-chevron-up {
  display: block;
}

.faq.active .faq-toggle {
  background: #1c2837;
  color: #ffe293;
}

@media (max-width: 600px) {
  .accordion-grid {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background: #1c2837;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 3rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(31, 45, 62, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.text-secondary {
  color: #fcc62d;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-out;
}
main .icons a:hover {
  color: #fcc62d;
}
main#home {
  overflow: hidden;
}

.basic-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.basic-form-container .basic-form-item {
  width: 40%;
  margin: 40px;
}

.contact-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3" "job4 job5 job6";
  grid-template-columns: repeat(3, 1fr);
}
.contact-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #fcc62d 3px solid;
}
.contact-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.contact-info .job-1 {
  grid-area: job1;
}
.contact-info .job-2 {
  grid-area: job2;
}
.contact-info .job-3 {
  grid-area: job3;
}
.contact-info .job-4 {
  grid-area: job4;
}
.contact-info .job-5 {
  grid-area: job5;
}
.contact-info .job-6 {
  grid-area: job6;
}
.contact-info .job {
  background: #253448;
  padding: 0.5rem;
  border-bottom: #fcc62d 5px solid;
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.projects img {
  width: 100%;
  border: 3px #fff solid;
  object-fit: cover;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #fcc62d;
  transition: all 0.5s ease-out;
}

.MuiCardMedia-img {
  object-fit: cover !important;
}

.about-container .about-intro {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about-container .about-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.about-container .about-item-container .about-item {
  background: #253448;
  width: 30%;
  height: auto;
  padding: 1rem;
  margin-right: 1rem;
  border-bottom: #fcc62d 5px solid;
}

.contact-container .contact-intro {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contact-container .contact-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.contact-container .contact-item-container .contact-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #253448;
  width: 75%;
  height: auto;
  padding: 1rem;
  margin-right: 1rem;
  border-bottom: #fcc62d 5px solid;
}

.project-container .project-intro {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.project-container .project-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.project-container .project-item-container .project-item {
  background: #253448;
  width: 45%;
  height: auto;
  margin-top: 1rem;
  border-bottom: #fcc62d 5px solid;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #fcc62d;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover, .btn-light:hover, .btn-dark:hover {
  background: #fcc62d;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #8da6c5;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #0b0f15;
  color: #fff;
  height: 60px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
}
.container .portrait {
  width: 500px;
  height: 500px;
  background-image: url("../img/Ferran Aug 2021.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 45px;
}
.container .welcome {
  font-size: 1.5rem;
  padding-left: 20px;
}
.container p {
  width: 100%;
}

.faq-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.faq {
  border: 1px solid #9fa4a8;
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  width: 30%;
  height: auto;
}

.faq-title {
  font-size: 1.7rem;
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.cards {
  height: 65vh;
  overflow: hidden;
  margin: 0;
}

.cards-container {
  display: flex;
}

.cards-panel {
  background: no-repeat center center/cover;
  height: 60vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.3;
  margin: 10px;
  position: relative;
  transition: flex 0.4s ease-in-out;
}

.cards-panel h3 {
  position: absolute;
  background-color: black;
  border-radius: 5px;
  padding: 5px 15px;
  justify-content: center;
  bottom: 30px;
  writing-mode: vertical-rl;
}

.cards-panel.active {
  flex: 5;
}

.cards-panel.active h3 {
  opacity: 1;
  writing-mode: horizontal-tb;
}

@media (max-width: 600px) {
  .hidden {
    display: none;
  }

  .cards {
    height: 100%;
    margin: 0;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }

  .cards-panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100vw;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.2 0 50px;
    margin: 7px;
    position: relative;
    transition: flex 0.4s ease-in-out;
  }

  .cards-panel h3 {
    position: absolute;
    background: none;
    color: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    writing-mode: horizontal-tb;
  }

  .cards-panel.active {
    flex: 5;
  }

  .cards-panel.active h3 {
    color: white;
    position: absolute;
    font-weight: bolder;
    top: 5px;
    left: 60%;
  }

  .faq-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .faq {
    border: 1px solid #9fa4a8;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    width: 100%;
    height: auto;
  }

  .faq-title {
    font-size: 1.7rem;
    margin: 0 35px 0 0;
  }

  .faq-text {
    display: none;
    margin: 30px 0 0;
    color: black;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .project-container .project-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .project-container .project-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .project-container .project-item-container .project-item {
    background: #253448;
    width: 90%;
    height: auto;
    margin-top: 1rem;
    border-bottom: #fcc62d 5px solid;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }
  .container .portrait {
    width: auto;
    height: 500px;
    background-image: url("../img/Ferran Aug 2021.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
  }
  .container .welcome {
    font-size: 1.5rem;
    padding-left: 20px;
  }
  .container p {
    width: 100%;
  }
}
@media (min-width: 500) {
  .hidden {
    display: none;
  }
}
@media (max-width: 500) {
  .hidden {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }

  main #home h1 {
    margin-top: 10vh;
  }

  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .welcome {
    width: 100%;
  }
}
/* 
^ Styling the drop-down menu for language switcher
* Auther : Fadi Nouh
* URL : https://bluebit.dev
* Repository: https://github.com/bluebits-academy/language-switcher
*/
nav {
  background-color: #3e587b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100vw;
  /* Full width */
}

.logo {
  width: 50px;
}

.logo img {
  width: 45px;
}

.lang-menu {
  width: 100px;
  text-align: right;
  margin-top: 25px;
  position: relative;
}

.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #1c2837;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #fcc62d;
  border-radius: 5px solid #fcc62d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #fcc62d;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #1c2837;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e587b;
}

.MuiCard-root {
  background-color: #3e587b !important;
  color: #ffe293 !important;
}

.MuiCardHeader-subheader {
  color: #fcc62d !important;
}

.MuiCardMedia-root {
  width: 60%;
  align-items: center;
  justify-content: center;
}

.MuiButtonBase-root {
  color: #fcc62d !important;
}

.timeline-card-content {
  background-color: #fcc62d !important;
}
.timeline-card-content header {
  background-color: #ffe293;
  border-radius: 3px;
}
.timeline-card-content a {
  color: #1c2837;
}
.timeline-card-content .card-sub-title {
  background-color: #fcc62d;
  color: #1c2837;
  margin-top: 2rem;
  border-radius: 7px;
  width: 100%;
}

.card-content-wrapper section {
  min-width: 100px !important;
}

.css-16u30nb-TimelineControlContainer {
  align-items: center;
  position: fixed;
  right: 90px;
  top: 50px;
  display: flex;
  justify-content: center;
  min-width: 3rem;
  margin-bottom: 1rem;
  filter: opacity(0.9);
}

.css-1t1h6li-TimelineItemContentWrapper {
  align-items: center;
  background: #fcc62d;
  border-radius: 4px;
  display: flex;
  margin-bottom: 1rem;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5em;
  min-height: 100px !important;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 0;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }

  ul.menu-nav,
div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/Ferran_guaperas.jfif") center center/cover;
    width: 150px;
    height: 150px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-container .about-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .about-container .about-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .about-container .about-item-container .about-item {
    background: #253448;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin-right: 1rem;
    border-bottom: #fcc62d 5px solid;
  }
}
@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
